# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build artefacts
build/
*.app
*.icns
*.dSYM/
DerivedData/

# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Release artefacts
*.zip
